body{
    background-color: rgb(44, 43, 43);
    color: white;
}

nav{
    background-color: brown;
    
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
}

nav>ul>li>a:hover{
    text-decoration: underline;
    color: greenyellow;
    font-size: 1.5rem;
}

ul>li>a {
    text-decoration: none;
    color:brown;
    text-decoration: underline;
}